.page_link { color: #999999; }
.page_link a:link { color: #999999; text-decoration: none; }
.page_link a:visited { color: #999999; text-decoration: none; }
.page_link a:active { color: #999999; text-decoration: underline; }
.page_link a:hover { color: #999999; text-decoration: underline; }
.page_link a.current { font-weight:bold; }
.page_link a.other { }
.page_link a.first { }
.page_link a.prev { }
.page_link a.next { }
.page_link a.last { }

a:link { color: #666666; text-decoration: none }
a:visited { color: #666666; text-decoration: none }
a:active { color: #666666; text-decoration: none }
a:hover { color:#999999;text-decoration: none }

.LinkYes { color: #006633; text-decoration: none }
a.LinkYes:link { color: #006633; text-decoration: none }
a.LinkYes:visited { color: #006633; text-decoration: none }
a.LinkYes:active { color: #006633; text-decoration: none }
a.LinkYes:hover { color: #006633; text-decoration: none }

.LinkNo { color: #FF0000; text-decoration: none }
a.LinkNo:link { color: #FF0000; text-decoration: none }
a.LinkNo:visited { color: #FF0000; text-decoration: none }
a.LinkNo:active { color: #FF0000; text-decoration: none }
a.LinkNo:hover { color: #FF0000; text-decoration: none }

.LinkNon { color:#D3D3D3; text-decoration: none }
a.LinkNon:link { color: #D3D3D3; text-decoration: none }
a.LinkNon:visited { color: #D3D3D3; text-decoration: none }
a.LinkNon:active { color: #D3D3D3; text-decoration: none }
a.LinkNon:hover { color: #D3D3D3; text-decoration: none }

a.LinkNormal:link { color: #003366; text-decoration: none }
a.LinkNormal:visited { color: #003366; text-decoration: none }
a.LinkNormal:active { color: #003366; text-decoration: none }
a.LinkNormal:hover { color: #003366; text-decoration: none }

a.LinkOk:link { color: #006633; text-decoration: none }
a.LinkOk:visited { color: #006633; text-decoration: none }
a.LinkOk:active { color: #006633; text-decoration: none }
a.LinkOk:hover { color: #006633; text-decoration: underline }

a.LinkCancel:link { color: #FF0000; text-decoration: none }
a.LinkCancel:visited { color: #FF0000; text-decoration: none }
a.LinkCancel:active { color: #FF0000; text-decoration: none }
a.LinkCancel:hover { color: #FF0000; text-decoration: underline }
body {
	margin: 0px  0px;
	padding: 0px  0px;
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	background-color:#FFF;
}
font,th,td,p{
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
}

fieldset{
background-color:#E8E8E8;
border-style:outset;
border-color:#CCCCCC;
border:1px;
}
fieldset legend{
color:#666666;
font-weight:bold;
}

input.InputFile {
	font-family: "Tahoma","Ms Sans Serif";
	font-size: 12px;
	/*width: 220px;	*/
}

input.InputTextRight {
	font-family: Tahoma;
	font-size: 12px;
	text-align: right;
}
input.InputButton {
	font-family: "Tahoma","Ms Sans Serif";
	font-size: 12px;
	COLOR: #333333;
	background-color:#EBEBEB; /*#DADADA*/
	BORDER-RIGHT: 1px solid #B7B7B7;
	BORDER-TOP: 1px solid #EEEEEE;
	BORDER-LEFT: 1px solid #E6E6E6;
	BORDER-BOTTOM: 1px solid #797979;
}
#button_control{
margin-top:10px;
margin-bottom:10px;
margin-left:5px;
}
select.selectDropDown {
	font-family: "Tahoma","Ms Sans Serif";
	font-size: 12px;
	COLOR: #333333;
	background-color:#FFFFFF; /*#DADADA*/
	BORDER-RIGHT: #CFCFCF 1px solid;
	BORDER-TOP: #CFCFCF 1px solid;
	BORDER-LEFT: #CFCFCF 1px solid;
	BORDER-BOTTOM: #CFCFCF 1px solid;
}
.TextRemark {
	font-family: Tahoma;
	font-size: 12px;
	color: #333333;
}
.TextRemarkNo {
	font-family: Tahoma;
	font-size: 12px;
	color: #FF0000;
}

.TextRemarkYes{
	font-family: Tahoma;
	font-size: 12px;
	color:#006600;
}

.TextRemarkNormal {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	background-color: #DFE7EF;
}
.TextHeader {
	font-family: Tahoma;
	font-size: 12px;
	color: #C9C9C9;
	font-weight: bold;
}
.TextTbHeader {
	font-family: tahoma;
	font-size: 20px;
	color: #16344F;
	height:30px;
}
.TextTbHeader_a {
	font-family: tahoma;
	font-size: 20px;
	color:#4F7566;
	height:30px;
}
.TextTbHeader_2 {
	font-family: tahoma;
	font-size: 16px;
	color:#4F7566;
	height:30px;
	font-weight: bold;
}
.TextTbHeader_3 {
	font-family: tahoma;
	font-size: 20px;
	color:#999999;
	height:30px;
}
.logoText {
	font-family: tahoma;
	font-size: 18px;
	color: #000000;
}

.TextError {
	font-family: Tahoma;
	font-size: 12px;
	color: #FF0000;
}
.TextComplete {
	font-family: Tahoma;
	font-size: 12px;
	color: #999999;
	font-weight:bold;
}

.TextApprove{
	font-family: Tahoma;
	font-size: 12px;
	color:#006600;
	}
.TextWait{
	font-family: Tahoma;
	font-size: 12px;
	color:#FF0000;
}
.TextSave{
	font-family: Tahoma;
	font-size: 12px;
	color:#999999;
}
.menuTop {
	font-family: Tahoma;
	font-size: 12px;
	color: #888888;
	background-color: #F7F7F7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.menuSec {
	font-family: Tahoma;
	font-size: 11px;
	color: #888888;
	background-color: #F7F7F7;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}

.submenuTop {
	font-family: Tahoma;
	font-size: 12px;
	color: #006699;
	background-color: #FFFFFF;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-style: solid;
	border-bottom-color: #D4D4D4;
}

.submenuTopActive{
	font-family: Tahoma;
	font-size: 12px;
	color: #004284;
	background-image:url(../control/images/bg-menu-a.jpg);
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #D4D4D4;
	border-right-color: #D4D4D4;
	border-left-color: #D4D4D4;
	margin-top:10px;
	padding-top:10px;
	margin-left:2px;
	margin-right:2px;
	padding-left:2px;
	padding-right:2px;
}
a.submenuTopActive-link:link {font-family: Tahoma;font-size: 12px;color: #004284;font-weight: bold;}
a.submenuTopActive-link:active{font-family: Tahoma;font-size: 12px;color: #004284;font-weight: bold;}
a.submenuTopActive-link:visited{font-family: Tahoma;font-size: 12px;color: #004284;font-weight: bold;}
a.submenuTopActive-link:hove{font-family: Tahoma;font-size: 12px;color: #004284;font-weight: bold;}



.submenuTopNonActive {
	font-family: Tahoma;
	font-size: 12px;
	/*font-weight: bold;*/
	background-image:url(../control/images/bg-menu.jpg);
	/*background-color: #FFFFFF;*/
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #D4D4D4;
	border-right-color: #D4D4D4;
	border-left-color: #D4D4D4;
	margin-top:10px;
	padding-top:10px;
	margin-left:2px;
	margin-right:2px;
	padding-left:2px;
	padding-right:2px;
	border-bottom-color: #D4D4D4;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}
.borderMain{
	font-family: Tahoma;
	font-size: 12px;
	background-color:#fff;
	border-right-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #EFEFEF;
	border-left-color: #EFEFEF;
}

.alert1 {
	font-family: tahoma;
	font-size: 12px;
	color: #006699;
	background-color: #FFFF66;
	margin: 3px;
	padding: 3px;
	border: 1px solid #006699;
}

.alerterr {
	font-family: tahoma;
	font-size: 12px;
	color: #FF0000;
	background-color: #FFFF66;
}.fieldsetForm {
	font-family: tahoma;
	font-size: 12px;
	color: #666666;
	background-color: #FFFFFF;
	border: 1px solid #E1E1E1;
	padding:6px;
}


.header-top{
	font-family: Tahoma;
	font-size: 12px;
	color: #666666;
	background-image:url(../control/images/bg-header.jpg);
	background-repeat:repeat-x;
	/*background-color:#4CA4FB;*/
	margin-bottom:10px;
	margin-top:10px;
	padding-bottom:10px;
	padding-top:10px;
}
.header-login{
	font-family: Tahoma;
	font-size: 12px;
	color: #999999;
	background-color: #E9E9E9;
	margin-bottom:1px;
	margin-top:1px;
	padding-bottom:1px;
	padding-top:1px;
}
.tbtiltle_root {
	font-family: tahoma;
	color:#5F5F5F;
	background-image:url(../control/images/bg-title-tb-root.jpg);
}
.tbtiltle {
	font-family: tahoma;
	color:#5F5F5F;
	background-image:url(../control/images/bg-title-tb.jpg);
}


.footer{
	font-family: Tahoma;
	font-size: 12px;
	color: #666666;
	background-color: #F2F2F2;
	margin-bottom:2px;
	margin-top:2px;
	padding-bottom:2px;
	padding-top:2px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

/* Drag & Drop sortable */
ul.sortable li {
	position: relative;
}

ul.boxy {
	list-style-type: none;
	padding: 0px;
	margin: 0px;

}
ul.boxy li {
	cursor:move;
	padding: 2px 2px;
}.submenu-box {
	font-family: tahoma;
	font-size: 12px;
	font-style: normal;
	color: #999999;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	background-color: #F4F4F4;
}
.line1 {
	font-family: tahoma;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E9E9E9;
}
.box1 {
	font-family: tahoma;
	font-size: 12px;
	border: 2px solid #F0F0F0;
}

/* Drag & Drop sortable */
ul.sortable li {
	position: relative;
	padding: 0px;
	margin: 0px;
}

ul.boxy {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
ul.boxy li {
	cursor:move;
	padding: 0px;
	margin: 0px;
}

.tb-header1 {
	font-family: Tahoma;
	font-size: 12px;
	color: #333333;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-color: #FFFFFF;
	border-top-color: #DADADA;
	border-right-color: #DADADA;
	border-left-color: #DADADA;
	background-color: #E8E8E8;
	font-weight:bold;
}

.tb-header2 {
	font-family: Tahoma;
	font-size: 12px;
	color: #333333;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-color: #FFFFFF;
	border-top-color: #DADADA;
	border-right-color: #DADADA;
	border-left-color: #DADADA;
	background-color: #FFFFCC;
	font-weight:bold;
}

