.logo{
	position:absolute;
	left:10px;
	top:14px;
	width:145px;
	height:63px;
	z-index:1;
}
.top_menu{
	position:absolute;
	right:10px;
	top:41px;
	width:618px;
	height:39px;
}
.cart_bar{
	position:absolute;
	right:0px;
	top:1px;
	width:500px;
	height:41px;
}
.bird{
    position: fixed;
	left:10px;
	width:173px;
	height:137px;
}


img {
	border:0px;
}
.text_sub_02 {
	font-family: "Tahoma", Arial;
	font-size: 12px;
	font-weight: bold;
	color: #8363AF;
}
.text_sub_02_2 {
	font-family: "Tahoma", Arial;
	font-size: 15px;
	font-weight: bold;
	color: #8363AF;
}
.text_hg_01{
	font-family: "Tahoma", Arial;
	font-size: 15px;
	font-weight: bold;
	color: ##B4D881;
}
.text_d_01{
	font-family: "Tahoma", Arial;
	font-size: 12px;
	color: ##B4D881;
}
.text_sub_03 {
	font-family: "Tahoma", Arial;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}
.text_h_01 {
	font-family: "Tahoma", Arial;
	font-size: 25px;
	font-weight: bold;
	color: #666666;
}
.text_h_02 {
	font-family: "Tahoma", Arial;
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

.text_h_03 {
	font-family: "Tahoma", Arial;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}
.text_h_04{
	font-family: "Tahoma", Arial;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
}

a.text_sub_02 {  }
a.text_sub_02:link { color: #CE0014; text-decoration: none; }
a.text_sub_02:active { color: #999999; text-decoration: none; }
a.text_sub_02:hover { color: #CE0014; text-decoration: underline; }



a:link { color: #191919; text-decoration: underline; }
a:visited { color: #191919; text-decoration: underline; }
a:active { color: #191919; text-decoration: underline; }
a:hover { color: #191919; text-decoration: none; }


/* ตัวหนังสือไล่เฉดเทาไปดำขนาด 11 */

.text_11b_8 {
    font-family: "Tahoma", Arial;
	font-size: 11px;
	font-style: normal;
	color: #000000;
}

.text_11b_7  {
    font-family: "Tahoma", Arial;
	font-size: 11px;
	font-style: normal;
	color: #191919;
}

.text_11b_6  {
    font-family: "Tahoma", Arial;
	font-size: 11px;
	font-style: normal;
	color: #242424;
}

.text_11b_5  {
    font-family: "Tahoma", Arial;
	font-size: 11px;
	font-style: normal;
	color: #333333;
}

.text_11b_4  {
    font-family: "Tahoma", Arial;
	font-size: 11px;
	font-style: normal;
	line-height: 16px;
	color: #666666;
}

.text_11b_3  {
    font-family: "Tahoma", Arial;
	font-size: 11px;
	line-height: 16px;
	font-style: normal;
	color: #999999;
}

.text_11b_2  {
    font-family: "Tahoma", Arial;
	font-size: 11px;
	font-style: normal;
	color: #CCCCCC;
}

.text_11b_1  {
    font-family: "Tahoma", Arial;
	font-size: 11px;
	/*font-weight: bold;*/
	font-style: normal;
	color: #FFFFFF;
}

/* ตัวหนังสือไล่เฉดเทาไปดำขนาด 13 */

.text_13b_8 {
    font-family: "Tahoma", Arial;
	font-size: 13px;
	font-style: normal;
	color: #000000;
}

.text_13b_7  {
    font-family: "Tahoma", Arial;
	font-size: 13px;
	font-style: normal;
	color: #191919;
}

.text_13b_6  {
    font-family: "Tahoma", Arial;
	font-size: 13px;
	font-style: normal;
	color: #242424;
}

.text_13b_5  {
    font-family: "Tahoma", Arial;
	font-size: 13px;
	font-style: normal;
	color: #333333;
}

.text_13b_4  {
    font-family: "Tahoma", Arial;
	font-size: 13px;
	font-style: normal;
	line-height: 18px;
	color: #666666;
}
.text_13b_4 a:link{
	font-family: "Tahoma", Arial;
	font-size: 13px;
	font-style: normal;
	line-height: 18px;
	color: #666666;
	text-decoration: none;
}
.text_13b_4 a:visited{
	font-family: "Tahoma", Arial;
	font-size: 13px;
	font-style: normal;
	line-height: 18px;
	color: #666666;
	text-decoration: none;
}
.text_13b_4 a:active{
	font-family: "Tahoma", Arial;
	font-size: 13px;
	font-style: normal;
	line-height: 18px;
	color: #666666;
	text-decoration: none;
}
.text_13b_4 a:hover{
	font-family: "Tahoma", Arial;
	font-size: 13px;
	font-style: normal;
	line-height: 18px;
	color: #666666;
	text-decoration: none;
}
.text_13b_3  {
    font-family: "Tahoma", Arial;
	font-size: 13px;
	font-style: normal;
	color: #999999;
}

.text_13b_2  {
    font-family: "Tahoma", Arial;
	font-size: 13px;
	font-style: normal;
	color: #CCCCCC;
}

.text_13b_1  {
    font-family: "Tahoma", Arial;
	font-size: 13px;
	/*font-weight: bold;*/
	font-style: normal;
	color: #FFFFFF;
}
.text_shadow_m1 {
	font-family: "Tahoma", Arial;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-shadow:1px 1px 1px #333333;
	color: #B4D881;
}
.text_shadow_m2 {
	font-family: "Tahoma", Arial;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-shadow:1px 1px 3px #CCCCCC;
	color: #92C749;
}
.text_shadow_11b_1  {
    font-family: "Tahoma", Arial;
	font-size: 11px;
	 line-height: 16px;
	/*font-weight: bold;*/
	font-style: normal;
	text-shadow:1px 1px 1px #333333;
	color: #FFFFFF;
}
.text_shadow_11b_2  {
    font-family: "Tahoma", Arial;
	font-size: 11px;
	 line-height: 16px;
	/*font-weight: bold;*/
	font-style: normal;
	text-shadow:1px 1px 1px #333333;
	color: #B4D881;
}
.text_shadow_14b_1  {
    font-family: "Tahoma", Arial;
	font-size: 14px;
	 line-height: 16px;
	/*font-weight: bold;*/
	font-style: normal;
	text-shadow:1px 1px 1px #333333;
	color: #FFFFFF;
}
.text_shadow_13b_1  {
    font-family: "Tahoma", Arial;
	font-size: 13px;
	/*font-weight: bold;*/
	font-style: normal;
	color: #FFFFFF;
	text-shadow:1px 1px 1px #333333;
}
.text_shadow_13b_4  {
    font-family: "Tahoma", Arial;
	font-size: 13px;
	font-style: normal;
	line-height: 18px;
	color: #666666;
	text-shadow:1px 1px 0px #FFFFFF;
}
#ListProduct{
	display:block;
	position:relative;
	width:396px;

}
#ListProduct .block_product{
	display:block;
	position:relative;
	width:67px;
	height:72px;
	border: 1px solid #D6D6D6;
	margin-right:5px;
	float:left;
	cursor:pointer;
	background-color:#FFFFFF;
}

#ListSize{
	display:block;
	position:relative;
	width:396px;

}
#ListSize .block_size{
	display:block;
	position:relative;
	width:20px;
	height:20px;
	border: 1px solid #D6D6D6;
	padding: 5px 5px 5px 5px;
	margin-right:5px;
	float:left;
	text-align:center;
	cursor:pointer;
	
	font-family: "Tahoma", Arial;
	font-size: 13px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	

}
#ListSize .block_size_selected{
	display:block;
	position:relative;
	width:20px;
	height:20px;
	border: 1px solid #D6D6D6;
	padding: 5px 5px 5px 5px;
	margin-right:5px;
	float:left;
	text-align:center;
	background-color:#FF5454;
	
	font-family: "Tahoma", Arial;
	font-size: 13px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	cursor:text;
	

}
#ListSize .block_size_disable{
	display:block;
	position:relative;
	width:20px;
	height:20px;
	border: 1px solid #DEDEDE;
	padding: 5px 5px 5px 5px;
	margin-right:5px;
	float:left;
	text-align:center;
	
	font-family: "Tahoma", Arial;
	font-size: 13px;
	font-weight: bold;
	color: #DEDEDE;
	text-decoration: none;
	cursor:text;

}