<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="../../css/control.css" rel="stylesheet" type="text/css">
<table width="1000" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="56" align="center" class="submenuTopNonActive"  id="menu_dashboard"><div align="center"><a href="../dashboard/index.php">Home</a></div></td>
<td width="91" align="center" class="submenuTopNonActive"  id="menu_invoice"><div align="center"><a href="../invoice/index.php" >Invoice</a></div></td>
<td width="110" align="center" class="submenuTopNonActive"  id="menu_product"><div align="center"><a href="../product/index.php" >Product</a></div></td>
<td width="91" align="center" class="submenuTopNonActive"  id="menu_news"><div align="center"><a href="../news/index.php" >News</a></div></td>
<td width="91" align="center" class="submenuTopNonActive"  id="menu_member"><div align="center"><a href="../member/index.php" >Member</a></div></td>
<td width="91" align="center" class="submenuTopNonActive"  id="menu_contactus"><div align="center"><a href="../contactus/index.php" >Contact Us</a></div></td>
<td width="91" align="center" class="submenuTopNonActive"  id="menu_config"  align="center" style="cursor: hand;cursor:pointer;">Configure</td>
<td width="94" align="center" class="submenuTopNonActive"  id="menu_change_password"><div align="center"><a href="../change_password/index.php" >Password</a></div></td>
<td align="center" class="submenuTopNonActive"  id="menu_"><div align="center">&nbsp;</div></td>
</tr>
</table>
<div style="position:absolute; z-index:20px; width:83px; height:47px;display:none;" id="sub_menu_config">
<table width="90" border="0" cellpadding="0" cellspacing="0" bordercolor="#D4D4D4" bgcolor="#FFE4E3" class="submenu-box">
	<tr>
		<td height="20"><div style="padding-left:5px;"><a href="../keyvisual/index.php">Keyvisual</a></div></td>
	</tr>
	<tr>
		<td height="20"><div style="padding-left:5px;"><a href="../category/index.php">Category</a></div></td>
	</tr>
	
	<tr>
		<td height="20"><div style="padding-left:5px;"><a href="../size/index.php">Size</a></div></td>
	</tr>
	<tr>
		<td height="20"><div style="padding-left:5px;"><a href="../color/index.php">Color</a></div></td>
	</tr>
</table>
</div>