<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#232323"><img src="../images/Share/Larinn_logo_a.png"/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><p><font face="Tahoma" size="2" color="#232323">สวัสดีค่ะคุณ $Fname $Lname<br />
      <br />
      ข้อมูลเพื่อเข้าสู่ระบบของคุณคือ<br />
      </font>
      <font color="#666666" face="Tahoma" size="2"><br />
        Email: <font color="#232323">$Email</font><br />
        Password: <font color="#232323">$Pwd</font></font></p>
      <p><a href="$strCfgMainUrl"><font color="#232323" size="2" face="Tahoma">$strCfgMainUrl</font></a></p></td>
  </tr>
</table>
