<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="28"><img src="../images/Share/cart.png" width="28" height="32" /></td>
            <td width="30" align="center" valign="middle" class="text_sub_02">$inCart</td>
            <td width="70" align="left" valign="middle" class="text_sub_02"><a href="../cart/index.php">Your Cart</a> </td>
            <td width="20" align="left" valign="middle" class="text_sub_02"><img src="../images/Share/bg_regis.jpg" width="11" height="32"></td>
            <td width="250" align="left" valign="middle" class="text_sub_02">
<!--SiXhEaD:NoLogIn-->
<a href="../member/register.php">Register</a> / <a href="../member/login.php">Login</a> / <a href="../member/forgot.php">Forgot Password</a>
<!--/SiXhEaD:NoLogIn-->

<!--SiXhEaD:Login-->
<a href="../member/index.php">Member</a> / <a href="../member/logout.php">Log Out</a>
<!--/SiXhEaD:Login-->

</td>
          </tr>
        </table>